<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tienda de discos</title>
    <link rel="shortcut icon" href="../images/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header class="hero">
        <nav class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title"> THE MUSIC STORE </h2>
            </div>
            <ul class="nav__link nav__link--menu">
                <li class="nav__items">
                    <a href="/" class="nav__link"> Inicio </a>
                </li>                
                <li class="nav__items">
                    <a href="./contacto" class="nav__link"> Quienes Somos </a>
                </li>
                <li class="nav__items">
                    <a href="./registro" class="nav__link"> Registrate </a>
                </li>
                <li class="nav__items">
                    <a href="./login" class="nav__link"> Ingresar </a>
                </li>                
            </ul>
            <div class="nav__menu"></div>
        </nav>

        <section class="hero__container container">
            <h1 class="hero__title">!Nuestro Catalogo!</h1>           
            
            <p class="knowledge__paragraph">Nos enorgullece nuestra diversa y cuidada selección de música, que abarca desde rock, jazz, blues, pop, hasta géneros más específicos y menos conocidos. Creemos que cada disco cuenta una historia y trabajamos arduamente para que cada cliente pueda encontrar ese álbum especial que resuene con su corazón.</p>
            
            <p class="knowledge__paragraph">En, nos comprometemos a ofrecer una experiencia de compra única y personalizada. Nuestro equipo está compuesto por verdaderos amantes de la música que están siempre dispuestos a ayudarte a encontrar el disco perfecto, recomendarte nuevos artistas o simplemente compartir una conversación apasionada sobre música.</p>
            
        </section> 

    </header>

    <section class="card">        
        <div class="card__item" id="tienda">
                        <figure class="card__figure">
                <img src="./images/clasico.jpg" alt="Imagen Clásica" class="card__img">
            </figure>
    
            <div class="card__texts">
                <h2 class="card__title">Clasica</h2>
                <p class="card__paragraph">Descubre el mundo sublime de la música clásica en nuestra tienda de discos. Desde las sinfonías magistrales de Beethoven hasta las óperas encantadoras de Mozart, te ofrecemos una colección exquisita que abarca todas las épocas y estilos de este género atemporal. Nuestros discos, seleccionados con esmero, te permitirán experimentar la grandeza y la profundidad de las composiciones clásicas en su máxima expresión.</p>
            </div>            
        </div>

        <div class="card__item">
            <figure class="card__figure">
                <img src="./images/rock.jpg" alt="Imagen Clásica" class="card__img">
            </figure>
    
            <div class="card__texts">
                <h2 class="card__title">Rock & Heavy Metal</h2>
                <p class="card__paragraph">Sumérgete en la energía inigualable del rock y la intensidad del heavy metal. Explora nuestra vasta colección de vinilos y CDs, desde los clásicos de Led Zeppelin hasta la fuerza arrolladora de Metallica. Encuentra ediciones exclusivas y piezas raras que harán latir tu corazón al ritmo de la música más electrizante. ¡Visítanos y enciende tu pasión por el rock y el metal!</p>
            </div>            
        </div>
    
        <div class="card__item">
            <figure class="card__figure">
                <img src="./images/vallenato.jpg" alt="Imagen Clásica" class="card__img">
            </figure>
    
            <div class="card__texts">
                <h2 class="card__title">los Mejores Artistas Vallenatos</h2>
                <p class="card__paragraph">La magia y tradición del vallenato con nuestra exclusiva selección de vinilos y CDs. Desde los clásicos de Carlos Vives hasta las leyendas de Diomedes Díaz, tenemos la mejor colección para los verdaderos amantes de este género icónico. Encuentra ediciones especiales y rarezas que te harán vibrar con cada acorde. ¡Visítanos y deja que el vallenato llene tu vida de alegría y sabor caribeño!</p>
            </div>            
        </div>
    
        <div class="card__item">
            <figure class="card__figure">
                <img src="./images/jazz.jpg" alt="Ilustración 3" class="card__img">
            </figure>
    
            <div class="card__texts">
                <h2 class="card__title">lo Mejor Del Jazz</h2>
                <p class="card__paragraph">Déjate llevar por la improvisación y el alma del jazz con nuestra selecta colección de vinilos y CDs. Desde los clásicos de Miles Davis hasta las innovaciones de John Coltrane, tenemos todo lo que un verdadero aficionado necesita. Encuentra ediciones limitadas y grabaciones únicas que capturan la magia del jazz. ¡Visítanos y enriquece tu colección con los sonidos más sofisticados!</p>
            </div>            
        </div>
    
    </section>

</section>
<section class="card">

    <div class="card__item">
        <figure class="card__figure">
            <img src="./images/salsa.jpg" alt="Imagen Clásica" class="card__img">
        </figure>

        <div class="card__texts">
            <h2 class="card__title">Musica Afro-Antillana</h2>
            <p class="card__paragraph">La riqueza cultural y la pasión de la música afroantillana con nuestra cuidadosa selección de vinilos y CDs. Desde los vibrantes sonidos de la salsa hasta los irresistibles ritmos del merengue y la bachata, nuestra colección celebra la diversidad y el encanto de estos géneros. Encuentra joyas musicales que te transportarán directamente a las calles de la Habana o las playas de Puerto Rico.</p>
        </div>        
    </div>

    <div class="card__item">
        <figure class="card__figure">
            <img src="./images/en vivo.jpg" alt="Imagen Clásica" class="card__img">
        </figure>

        <div class="card__texts">
            <h2 class="card__title">los Mejores Conciertos En Vivo </h2>
            <p class="card__paragraph">Experimenta la magia de los momentos inolvidables con nuestra colección de grabaciones de conciertos en vivo. Desde las legendarias actuaciones de Queen en Wembley hasta los vibrantes shows de Beyoncé en Coachella, cada disco te transportará al corazón del escenario. Sumérgete en la energía y la emoción de la música en directo con nuestras ediciones exclusivas. ¡Visítanos y lleva a casa la emoción de los grandes espectáculos en vivo!</p>
        </div>        
    </div>

    <div class="card__item">
        <figure class="card__figure">
            <img src="./images/electronica.png" alt="Imagen Clásica" class="card__img">
        </figure>

        <div class="card__texts">
            <h2 class="card__title">Electronica</h2>
            <p class="card__paragraph">La vanguardia de la música electrónica con nuestra amplia selección de vinilos y CDs. Desde los ritmos hipnóticos del techno hasta las melodías atmosféricas del ambient, ofrecemos una experiencia inigualable para los amantes de la electrónica. Encuentra los últimos lanzamientos de tus artistas favoritos y descubre nuevas joyas sonoras que te llevarán en un viaje sonoro único.</p>
        </div>        
    </div>

    <div class="card__item">
        <figure class="card__figure">
            <img src="./images/instrumental.jpg" alt="Ilustración 3" class="card__img">
        </figure>

        <div class="card__texts">
            <h2 class="card__title">Instrumental</h2>
            <p class="card__paragraph">Por la pureza de los sonidos instrumentales con nuestra cuidadosa selección de vinilos y CDs. Desde las serenas melodías del piano hasta los exquisitos arreglos de cuerdas, nuestra colección te invita a explorar la riqueza y la expresividad de la música sin palabras. Encuentra obras maestras de compositores clásicos y contemporáneos que te inspirarán y te transportarán a nuevos horizontes emocionales.</p>
        </div>        
    </div>
</section>

<section class="price container">
    <h2 class="subtitle"><i>Obten el mejor descuento en nuestras promociones cada mes!</i></h2>

    <div class="price__table">
        <div class="price__element">
            <p class="price__name">descuentos del</p>
            <h3 class="price__price">15%</h3>

            <div class="price__items">
                <p class="price__features">En Musica</p>
                <p class="price__features">Instrumental</p>
                <p class="price__features">¡¡¡Aprovecha!!!</p>
            </div>

            <a href="#" class="price__cta">Shoppinng cart</a>
        </div>


        <div class="price__element price__element--best">
            <p class="price__name">en el Mes del Padre</p>
            <h3 class="price__price">30%</h3>

            <div class="price__items">
                <p class="price__features">en toda</p>
                <p class="price__features">Musica Afro-Antillana</p>
                <p class="price__features"> hasta agotar existencias</p>
            </div>

            <a href="#" class="price__cta">Shoppinng cart</a>
        </div>


        <div class="price__element">
            <p class="price__name">oferta en todo el pais</p>
            <h3 class="price__price">20%</h3>

            <div class="price__items">
                <p class="price__features">en Ventas de discos</p>
                <p class="price__features">nuevos</p>
                <p class="price__features">usados</p>
            </div>

            <a href="#" class="price__cta">Shoppinng cart</a>
        </div>
    </div>
</section>
<footer class="footer">
    <section class="footer__container container">
        <nav class="nav nav--footer">
            <h2 class="footer__title">THE MUSIC STORE</h2>

            <ul class="nav__link nav__link--footer">
                <li class="nav__items">
                    <a href="/" class="nav__links">Inicio</a>
                </li>
                <li class="nav__items">
                    <a href="./contacto" class="nav__links">Quienes Somos</a>
                </li>
                <li class="nav__items">
                    <a href="./catalogo" class="nav__links">Catalogo</a>
                </li>
                <li class="nav__items">
                    <a href="./login" class="nav__links">ingresar</a>
                </li>
            </ul>
        </nav>

        <form class="footer__form" action="/" method="POST">
            <h2 class="footer__newsletter">Suscribete a la newsletter</h2>
            <div class="footer__inputs">
                <input type="email" placeholder="Email:" class="footer__input" name="_replyto">
                <input type="submit" value="Registrate" class="footer__submit">
            </div>
        </form>
    </section>

    <section class="footer__copy container">
        <div class="footer__social">
            <a href="https://www.facebook.com" class="footer__social-link" target="_blank">
                <img src="../images/facebook.svg" alt="Facebook" class="footer__social-icon">
            </a>
            <a href="https://www.twitter.com" class="footer__social-link" target="_blank">
                <img src="../images/twitter.svg" alt="Twitter" class="footer__social-icon">
            </a>
            <a href="https://www.instagram.com" class="footer__social-link" target="_blank">
                <img src="../images/instagram.svg" alt="YouTube" class="footer__social-icon">
            </a>
            <a href="https://www.YouTube.com" class="footer__social-link" target="_blank">
                <img src="../images/youtube.svg" alt="YouTube" class="footer__social-icon">
            </a>
        </div>

        <h3 class="footer__copyright">Derechos reservados &copy;</h3>
    </section>
</footer>   

</body>
</html>


        