<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tienda de discos</title>
    <link rel="shortcut icon" href="../images/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header class="hero">
        <nav class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title"> THE MUSIC STORE </h2>
            </div>
             <ul class="nav__link nav__link--menu">
                <ul class="nav__link nav__link--menu">
                    <li class="nav__items">
                        <a href="/" class="nav__link"> Inicio </a>
                    </li>                
                <li class="nav__items">
                    <a href="./catalogo" class="nav__link"> Catalogo </a>
                </li>
                <li class="nav__items">
                    <a href="./registro" class="nav__link"> Registrate </a>
                </li>
                <li class="nav__items">
                    <a href="./login" class="nav__link"> Ingresar </a>
                </li>                
             </ul>
             <div class="nav__menu">                
            </div>
        </nav> 
        <section class="hero__container container">
            <h1 class="hero__title">!Quienes Somos!</h1>            


            <p class="knowledge__paragraph">Somos más que una tienda de discos, somos una comunidad apasionada por la música. Desde nuestros humildes comienzos en 80, nos hemos dedicado a ofrecer a nuestros clientes una selección excepcional de música de todos los géneros y épocas. Nuestra misión es conectar a las personas con la música que aman, desde los clásicos atemporales hasta las últimas novedades.</p>

            <P class="knowledge__paragraph">Fundada por un amante de la música con una visión de crear un espacio donde los entusiastas de la música pudieran descubrir, explorar y compartir su amor por los discos, The Store Music Store, ha crecido y se ha convertido en un referente en la comunidad musical. Con el paso de los años, hemos expandido nuestra colección para incluir no solo vinilos, sino también CD, cassettes y ediciones especiales que son verdaderas joyas para los coleccionistas.</P>            
          
        </section>     
    </header>

    <section class="questions container">
        <h2 class="subtitle">Preguntas frecuentes</h2>
        <p class="questions__paragraph">En THE MUSIC STORE, nos esforzamos por ofrecer la mejor experiencia a nuestros clientes. A continuación, respondemos algunas de las preguntas más comunes que recibimos. Si tienes alguna otra consulta, no dudes en contactarnos.</p>

        <section class="questions__container">
            <article class="questions__padding">
                <div class="questions__answer">
                    <h3 class="questions__title">¿Qué tipos de discos puedo encontrar en THE MUSIC STORE?
                        <span class="questions__arrow">
                            <img src="../images/arrow.svg" class="questions__img">
                        </span>
                    </h3>

                    <p class="questions__show">En THE MUSIC STORE, ofrecemos una amplia variedad de discos que incluyen vinilos, CDs y cassettes. Nuestra colección abarca todos los géneros musicales, desde rock, jazz, blues, pop, hasta géneros más específicos como música clásica, electrónica y más. También contamos con ediciones limitadas, discos de coleccionista y los últimos lanzamientos.</p>
                </div>
            </article>

            <article class="questions__padding">
                <div class="questions__answer">
                    <h3 class="questions__title">¿Ofrecen servicios de envío y cuáles son los costos?
                        <span class="questions__arrow">
                            <img src="../images/arrow.svg" class="questions__img">
                        </span>
                    </h3>

                    <p class="questions__show">Sí, ofrecemos servicios de envío a nivel nacional e internacional. El costo del envío varía según la ubicación y el tamaño del pedido. Además, como parte de nuestras promociones del Día del Padre, ofrecemos envío gratis en todas las compras superiores a $500.000 dentro del país.</p>
                </div>
            </article>

            <article class="questions__padding">
                <div class="questions__answer">
                    <h3 class="questions__title">¿Puedo vender o intercambiar mis discos en THE MUSIC STORE?
                        <span class="questions__arrow">
                            <img src="../images/arrow.svg" class="questions__img">
                        </span>
                    </h3>

                    <p class="questions__show">¡Por supuesto! En THE MUSIC STORE, estamos siempre interesados en adquirir discos nuevos y usados en buen estado. Puedes traer tus discos a nuestra tienda para una evaluación y, dependiendo de su condición y demanda, te ofreceremos una compensación justa en efectivo o crédito en tienda. Para más información sobre el proceso de compra y venta de discos, visita nuestra tienda</p>
                </div>
            </article>
        </section>       
    </section>
</main>

<footer class="footer">
    <section class="footer__container container">
        <nav class="nav nav--footer">
            <h2 class="footer__title">THE MUSIC STORE</h2>

            <ul class="nav__link nav__link--footer">
                <li class="nav__items">
                    <a href="/" class="nav__links">Inicio</a>
                </li>
                <li class="nav__items">
                    <a href="./contacto" class="nav__links">Quienes Somos</a>
                </li>
                <li class="nav__items">
                    <a href="./catalogo" class="nav__links">Catalogo</a>
                </li>
                <li class="nav__items">
                    <a href="./login" class="nav__links">ingresar</a>
                </li>
            </ul>
        </nav>

        <form class="footer__form" action="/" method="POST">
            <h2 class="footer__newsletter">Suscribete a la newsletter</h2>
            <div class="footer__inputs">
                <input type="email" placeholder="Email:" class="footer__input" name="_replyto">
                <input type="submit" value="Registrate" class="footer__submit">
            </div>
        </form>
    </section>

    <section class="footer__copy container">
        <div class="footer__social">
            <a href="https://www.facebook.com" class="footer__social-link" target="_blank">
                <img src="../images/facebook.svg" alt="Facebook" class="footer__social-icon">
            </a>
            <a href="https://www.twitter.com" class="footer__social-link" target="_blank">
                <img src="../images/twitter.svg" alt="Twitter" class="footer__social-icon">
            </a>
            <a href="https://www.instagram.com" class="footer__social-link" target="_blank">
                <img src="../images/instagram.svg" alt="YouTube" class="footer__social-icon">
            </a>
            <a href="https://www.YouTube.com" class="footer__social-link" target="_blank">
                <img src="../images/youtube.svg" alt="YouTube" class="footer__social-icon">
            </a>
        </div>

        <h3 class="footer__copyright">Derechos reservados &copy;</h3>
    </section>
</footer>

<script src="../js/question.js"></script>
</body>
</html>