<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tienda de discos</title>
    <link rel="shortcut icon" href="../images/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header class="hero">
        <nav class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title"> THE MUSIC STORE </h2>
            </div>
             <ul class="nav__link nav__link--menu">                
                                <li class="nav__items">
                    <a href="./contacto" class="nav__link"> Quienes Somos </a>
                </li>
                <li class="nav__items">
                    <a href="./catalogo" class="nav__link"> Catalogo </a>
                </li>
                <li class="nav__items">
                    <a href="./login" class="nav__link"> Ingresar </a>
                </li>                
             </ul>
             <div class="nav__menu">                
            </div>
        </nav>

        <section class="hero__container container">
            <h1 class="hero__title">!Bienvenido!</h1>

            
            <p class="hero__paragraph"> Nos alegra tenerlos aquí en nuestra tienda de discos, un lugar donde la música cobra vida. Desde los clásicos hasta los lanzamientos más recientes, estamos seguros de que encontrarán algo que deleite tus oídos y enriquezca su colección. Nuestro equipo está aquí, prestos para ayudarles a descubrir nuevas joyas musicales y para asegurarnos de que su experiencia sea única y placentera. Si tienen alguna pregunta o necesitan una recomendación, no duden en acercarse a nosotros.</p>


            <p class="hero__paragraph"> Es un placer recibirlos en nuestra tienda de discos, donde cada visita es una celebración de la música, Aquí encontrarán una amplia selección de vinilos, CDs y más, abarcando todos los géneros y épocas.
                Nuestro personal está apasionado por la música y está listo para ayudarles a encontrar esos álbumes especiales que están buscando, o para recomendarles nuevas melodías que podrían convertirse en sus favoritas.                
                Siéntanse libres de explorar, escuchar y disfrutar. Estamos aquí para hacer de su visita una experiencia memorable.                
                ¡Gracias por elegirnos y por ser parte de nuestra comunidad musical!</p>

            <a href="./registro" class="boton__cta">!!registrate¡¡</a>
        </section>     
    </header>
      
    <section class="knowledge">
        <div class="knowledge__container container">
            <div class="knowledege__texts" id="">
                <h2 class="subtitle">Celebra el Día del Padre con Música Inolvidable en THE MUSIC STORE!</h2>
                <p class="knowledge__paragraph">Este Día del Padre, sorprende a papá con su música favorita y disfruta de nuestras increíbles promociones. ¡Es el momento perfecto para regalarle esos discos que siempre ha querido!.</p>
                
                <h2><i>Por cada $500.000 EN COMPRAS, participa en el sorteo de una tornamesa vintage</i></h2>
                
            </div>

            <figure class="knowledge__picture">
                <img src="./images/1927.jpg" class="knowledge__img">
            </figure>
        </div>
    </section>
    <footer class="footer">
        <section class="footer__container container">
            <nav class="nav nav--footer">
                <h2 class="footer__title">THE MUSIC STORE</h2>

                <ul class="nav__link nav__link--footer">
                    <li class="nav__items">
                        <a href="/" class="nav__links">Inicio</a>
                    </li>
                    <li class="nav__items">
                        <a href="./contacto" class="nav__links">Quienes Somos</a>
                    </li>
                    <li class="nav__items">
                        <a href="./catalogo" class="nav__links">Catalogo</a>
                    </li>
                    <li class="nav__items">
                        <a href="./login" class="nav__links">ingresar</a>
                    </li>
                </ul>
            </nav>

            <form class="footer__form" action="/" method="POST">
                <h2 class="footer__newsletter">Suscribete a la newsletter</h2>
                <div class="footer__inputs">
                    <input type="email" placeholder="Email:" class="footer__input" name="_replyto">
                    <input type="submit" value="Registrate" class="footer__submit">
                </div>
            </form>
        </section>

        <section class="footer__copy container">
            <div class="footer__social">
                <a href="https://www.facebook.com" class="footer__social-link" target="_blank">
                    <img src="../images/facebook.svg" alt="Facebook" class="footer__social-icon">
                </a>
                <a href="https://www.twitter.com" class="footer__social-link" target="_blank">
                    <img src="../images/twitter.svg" alt="Twitter" class="footer__social-icon">
                </a>
                <a href="https://www.instagram.com" class="footer__social-link" target="_blank">
                    <img src="../images/instagram.svg" alt="YouTube" class="footer__social-icon">
                </a>
                <a href="https://www.YouTube.com" class="footer__social-link" target="_blank">
                    <img src="../images/youtube.svg" alt="YouTube" class="footer__social-icon">
                </a>
            </div>

            <h3 class="footer__copyright">Derechos reservados &copy;</h3>
        </section>
    </footer>
</body>
</html>